/* MY CODE */

.icone-menu {
  background: #054086;
  border-radius: 0px 0px 20px 0px;
  position: fixed;
  width: 40px;
  height: 70px;
  left: 0px;
  top: 0px;
  display: flex;

}

.icone-menu img {
  width: 36px;
  height: 56px;
}

.content-container-menu {
  display: flex;
}

.content-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.content-usuario-menu {
  color: #FFF;
  padding-left: 10px;
}

.content-usuario-menu span {
  font-size: 17pt;;
}

.content-usuario-menu p {
  font-size: 10pt;
  padding-top: 8px;
}

.content-lista-menu {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: flex-start;

}

.lista-menu-item {
  display: flex;
  padding: 20px;
  align-items: center;
  color: #FFF;
  border-bottom: 1px solid #0861cd;
  width: 100%;
}

.lista-menu-item span {
  margin-left: 25px;
}

.config {
  margin-top: 30px;
}

.footer-menu {
  display: flex;
  align-items: center;
  padding-top: 50%;
  color: #FFF;
  font-size: 9pt;
}

/* MY CODE */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  /* background: #373a47; */
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  /* background: #a90000; */
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #054086;
  padding: 2.5em 1em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}