.lista_cursos {
    width: 100%;
    height: 100vh;
}

.lista_cursos_topo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 75px;
    background: #e85141;
    border-bottom: 4px solid #ce2b1a;
}

.lista_cursos_topo p {
    color: #FFF;
    font-size: 25pt;
    margin-left: 30px;
}

.lista_cursos_item {
    width: 100%;
    display: flex;
    padding: 20px 30px;
}

.lista_cursos_status {
    margin: auto 0;
}

.lista_content {
    display: flex;
    width: 100%;
    min-height: 100px;
    height: 100%;
    border-left: 7px solid #20b2aa;
    border-right: 7px solid #e85141;
    border-radius: 5px;
    justify-content: center;

    box-shadow:  0 8px 6px -6px #c8c8c8;
    -webkit-box-shadow:  0 8px 6px -6px #c8c8c8;
    -moz-box-shadow:  0 8px 6px -6px #c8c8c8;
}

.lista_content--inativo {
    display: flex;
    width: 100%;
    min-height: 100px;
    height: 100%;
    border-left: 7px solid #c8c8c8;
    border-right: 7px solid #c8c8c8;
    border-radius: 5px;
    justify-content: center;

    box-shadow:  0 8px 6px -6px #c8c8c8;
    -webkit-box-shadow:  0 8px 6px -6px #c8c8c8;
    -moz-box-shadow:  0 8px 6px -6px #c8c8c8;
}

.box_lista {
    background: #FFF;
    width: 100%;
    min-height: 100%;
    padding: 15px;
}

.box_lista p {
    font-size: 14px;
    color: #8c8c8c;
    padding: 5px 0;
}

.box_topo {
    display: flex;
    justify-content: space-between;
}

.box_topo p {
    font-size: 20px;
    display: flex;
    color: #054086;
}

.box_topo span {
    font-size: 10px;
    display: flex;
    color: #054086;
    margin-top: -5px;
}